body {
    background: #fff8ee;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0;
}

nav {
    background: #00AA50;
    color: #fff;
    height: 2em;
    padding: 0.5em 1em;
    position: fixed;
    width: 100%;
    z-index: 5;
}
main {
    box-sizing: border-box;
    position: relative;
}
h1 {
    border-bottom: solid 2px #00AA50;
    font-size: 10vw;
    margin: 1rem 0 0;
}
h2 {
    font-size: 1.2em;
    margin: 0;
}
h3 {
    font-size: 1em;
    margin: 0;
}
ul {
    list-style: none;
    margin: 1rem 0;
    padding: 0;
}
time {
    font-size: 0.7em;
}

/*arrow element*/
.arrow {
    display: inline-block;
}
.arrow::before {
    border-top: solid 0.1em #333;
    border-left: solid 0.1em #333; 
    content: '';
    display: inline-block;
    height: 0.5em;
    transform: translate(0,-0.2em) rotate(225deg);
    width: 0.5em;
}
.back{
    margin-right: 1em;
    visibility: hidden;
}
.back.arrow::before {
    border-color: #fff;
    transform: translate(0,-1px) rotate(-45deg);
}
/*search icon*/
.search {
    border: 2px solid;
    border-radius: 50%;
    height: 1em;
    transform: rotate(45deg);
    width: 1em;
  }
  .search:before {
    border-radius: 0 0 1px 1px;
    box-shadow: inset 0 0 0 32px;
    content: '';
    height: 11px;
    left: 0.4em;
    position: absolute;
    top: 1.4em;
    transform: translateY(-50%);
    width: 4px;
  }

nav h2 {
    display: inline-block;
}
nav ul {
    margin: 0;
}
nav li {
    display: inline-block;
    margin: 0 2vw;
}
#nav-container {
    float: right;
    margin-right: 1em;
}


main li {
    border-bottom: solid 1px #00AA50;
    box-sizing: border-box;
    font-size: 1.2em;
    margin: 0;
    padding: 0.5rem 1rem;
}
.heading {
    background: #00AA50;
    color: #fff;
    width: 100%;
}
.question {
    background: #fff;
    border: solid 1px #00AA50;
    border-top: none;
    max-height: 2em;
    overflow: hidden;
}
.question h3 {
    cursor: pointer;
}
.question .arrow {
    float: right;
}
#question-container {
    box-shadow: 2px 4px 6px #888;
}

#latest-container h3 {
    margin: 0.5rem 0;
}
#latest-container p {
    margin: 0;
}
.author {
    font-size: 0.8em;
}
.author::before {
    content: 'By: ';
    font-size: 0.8em;
}

#hero-container {
    background: url('map.png') 50% 50% / cover;
    box-sizing: border-box;
    height: 100vh;
    padding-top: 2em;
}

@media (min-width: 30em){
    .question {
        border: none;
        max-height: none;
        padding: 0.5em;
    }
    .question .arrow {
        display: none;
    }
    .question > p {
        text-align: justify;
    }
}
@media (min-width: 40em){
    h1 {
        font-size: 3em;
    }
    #question-container {
        display: flex;
        flex-wrap: wrap;
    }
    .question {
        flex: 1 0 20em;
    }
}
@media (min-width: 60em){
    main {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 2em calc(100vh - 2em) auto;
        grid-template-areas: 
        "nav nav"
        "overview latest"
        "questions latest";
    }
    #hero-container {
        margin-right: -25vw;
        padding-right: 25%;
    }
    #overview-container {
        grid-area: overview;
        margin: 0 auto;
        max-width: 60em;
    }
    #question-container {
        grid-area: questions;
        margin: 2em;
    }
    #latest-container {
        background: rgba(255,255,255,0.6);
        grid-area: latest;
    }
    #latest-container .heading {
        background: none;
        color: #00AA50;
    }
}